{% extends 'base.html' %}

{% block body %}
<div class="container w-50 mt-3 mb-3 border rounded-4 shadow-sm bg-light">
    <div class="row justify-content-md-center mt-3">
        <h2 class="text-center">Nova Conta</h2>
        <div class="col">
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="form-group mt-3">
                    {{ form.nome.label(class="form-label") }}<br>
                    {{ form.nome(class="form-control") }}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.nomeGuerra.label(class="form-label") }}<br>
                    {{ form.nomeGuerra(class="form-control") }}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.rg.label(class="form-label") }}
                    {% if form.rg.errors %}
                        {{ form.rg(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.rg.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.rg(class="form-control") }}
                    {% endif %}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.idFuncional.label(class="form-label") }}
                 {% if form.idFuncional.errors %}
                        {{ form.idFuncional(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.idFuncional.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.idFuncional(class="form-control") }}
                    {% endif %}
                </div>
                
                <div class="form-group mt-3">
                    Graduação
                    <select name="select_grad">
                        {% for i in graduacao %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.email.label(class="form-label") }}<br>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in form.email.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.dtNascimento.label(class="form-label") }}<br>
                    {{ form.dtNascimento(class="form-control") }}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.tel.label(class="form-label") }}<br>
                    {{ form.tel(class="form-control") }}
                <p style="color: red"><em>*Telefone com DDD sem caracteres especiais. EX.: 21981900000</em></p>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.senha.label }}<br>
                    {{ form.senha(class="form-control") }}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.confimacao.label }}<br>
                    {{ form.confimacao(class="form-control") }}
                </div>
                
                <div class="form-group mt-3">
                    {{ form.btCriar(class="btn btn-primary mb-3 w-100") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
